body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.maestros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.maestro {
    margin: 10px;
}

.maestro img {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* para hacer la imagen un circulo */
    border: 2px solid #000; /* borde negro para destacar */
}

.maestro p {
    margin-top: 5px;
}

.votos {
    margin-top: 5px;
    background-color: #ffd700; /* color de fondo amarillo */
    padding: 5px 10px;
    border-radius: 20px; /* para hacer el porcentaje de votos un poco redondo */
    font-weight: bold;
}


header {
    text-align: center;
}

header img {
    width: 200px;
    margin-top: 20px;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Para asegurarse de que el fondo esté detrás de todo */
}

.fondo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3; /* para hacer el fondo un poco transparente */
}


.contenedor-maestros {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    white-space: nowrap; /* Evitar que los elementos se envuelvan */
    -webkit-overflow-scrolling: touch; /* Desplazamiento suave en iOS */
}

.maestros {
    display: inline-block; /* Mostrar las imágenes en línea */
    transition: transform 0.3s ease; /* Animación de desplazamiento */
}

.maestro {
    display: inline-block;
    margin: 10px;
    vertical-align: top; /* Alinear las imágenes en la parte superior */
}



.robot {
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.robot img {
    width: 120px;
    animation: flotar 5s ease-in-out infinite alternate; /* Animación de flotación */
}

@keyframes flotar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.dialogo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dialogo p {
    margin: 0;
}

.dialogo button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.dialogo button:hover {
    background-color: #0056b3;
}



.alerta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336; /* Rojo */
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Asegurarse de que esté encima de todo */
    display: none; /* Ocultar por defecto */
}

.alerta p {
    margin: 0;
}

.show {
    display: block; /* Mostrar cuando se active */
}
